body{
    font-family: Arial,sans-serif;
    text-align: center;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}
header{
    background-color: #ffffff;
    padding: 50px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h1{
    color: #333;
    font-size: 2.5em;
}
p{
    color: #555;
    font-size: 1.2em;
}
.bth{
display: inline-block;
padding: 20 px 25 px;
margin-top: 20 px;
background-color: #0078ff;
color: white;
text-decoration: none;
border-radius: 8px;
transition: 0.3s;
}
.bth:hover{
    background-color: #005fd1;
}
main{
    padding: 40px;
}
h2{
    text-align:center;
    color:#333;
    margin-bottom: 30px;
}
.products{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 20 px;
}
.product {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
    width: 220px;
    text-align: center;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.product h3 {
    color: #222;
    margin: 10px 0;
}

.product p {
    color: #555;
    font-size: 0.9em;
}

.price {
    color: #0078ff;
    font-weight: bold;
}

button {
    background-color: #0078ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #005fd1;
}